
.topbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#333333;
    position: sticky;
    top: 0;
    width: 100%;
    color: #F6F6F6; 
}
.topbar a{
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 1.25em;
}
.topbar a:hover{
    background-color: #B90504;
}
.active{
    background-color: #990100;
}

body{
    background-color: whitesmoke;
}

.text1{
    padding: 0px 15px;
    z-index: -1;
    font-size: 1.15em;
}

a:link{
    color:#F6F6F6;
}
a:visited{
    color:#F6F6F6;
}
a:hover{
    color: #F6F6F6;
}
a:active{
    color: #F6F6F6;
}
p{
    font-family: Scaly Sans;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: Modesto;
    font-weight: normal;
    font-style: normal;
    font-size: 6em;
    line-height: 5px;
}

@font-face{
    font-family: Scaly Sans;
    src: url(solbera-dnd-fonts-master/Scaly\ Sans/Scaly\ Sans.otf);
}
@font-face{
    font-family: Modesto;
    src: url(solbera-dnd-fonts-master/Nodesto\ Caps\ Condensed/Nodesto\ Caps\ Condensed.otf);
}
@font-face{
    font-family: Bookinsanity;
    src: url(solbera-dnd-fonts-master/Bookinsanity/Bookinsanity.otf);
}
@font-face{
    font-family: Mr Eaves;
    src: url(solbera-dnd-fonts-master/Mr\ Eaves/Mr\ Eaves\ Small\ Caps.otf);
}
@font-face{
    font-family: Scaly Sans Caps;
    src:url(solbera-dnd-fonts-master/Scaly\ Sans\ Caps/Scaly\ Sans\ Caps.otf)
}